:root {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-9658649: #262262;
  --e-global-color-c006b0e: #8d4fa0;
  --e-global-color-977863c: #47bfa5;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--e-global-color-9658649);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container {
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-9658649) 0%,
    var(--e-global-color-c006b0e) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}
.container__logo {
  margin-bottom: 1em;
}
.container__logo img {
  width: 100%;
  max-width: 300px;
  height: 250px;
}
.container__content {
  max-width: 700px;
  width: 100%;
  margin: 0em auto;
}
.container__content__info {
  background-color: #47bfa54d;
  padding: 1em;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 1em;
  border-radius: 8px;
}
.container__content__info__icon {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}
.container__content__label {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: white;
}
.container__content__label__info {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  color: white;
}
.container__content__steps {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1.5em;
  border-radius: 8px;
}
.container__content__steps__step {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: white;
}
.container__content__steps__step:last-child {
  margin-bottom: 0;
}
.container__content__steps__step svg {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}
.container__content__button {
  background-color: #4ebfa5;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1em;
  color: white;
  font-size: 1.3em;
  width: 100%;
  margin: 1em 0em;
  cursor: pointer;
}
.container__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: #358f7a;
}
.container__content__disclamer {
  font-size: 0.8em;
  color: white;
  display: flex;
  align-items: center;
}
.container__content__disclamer svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
.container__progress {
  width: 100%;
  margin: 1em 0em;
  display: flex;
  align-items: center;
  background-color: white;
  height: 12px;
  border-radius: 8px;
  max-width: 700px;
}
.container__progress__bar {
  width: 100%;
  height: 12px;
  background-color: #405980;
  border-radius: 8px;
  position: relative;
}
.container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0em auto;
}
.container__form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.container__form__input__label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: white;
  font-weight: bold;
}
.container__form__input__label span {
  color: red;
}
.container__form__input__info {
  font-size: 1em;
  padding: 0.8em 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  color: white;
  background-color: #47bfa53b;
}
.container__form__input__field {
  padding: 0em 1em;
  height: 45px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1em;
  border: 1px solid white;
  outline: none;
}
.container__form__input__field:hover {
  border-color: var(--e-global-color-9658649);
}
.container__form__input__field:focus {
  border-color: var(--e-global-color-9658649);
}
.container__form__input__field:is(textarea) {
  height: 150px;
  padding: 0.5em 1em;
}
.container__form__input__options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border: 1px solid white;
  border-radius: 8px;
  padding: 1em;
}
.container__form__input__option {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  color: white;
}
.container__form__input__option:last-child {
  margin-bottom: 0;
}
.container__form__input__option input {
  margin-right: 0.5em;
  width: 18px;
  height: 18px;
  color: white;
  outline: none;
  border: none;
  accent-color: #4ebfa5;
}
.container__form__input__error {
  color: white;
  font-size: 1em;
  margin-top: 0.5em;
}
